<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--update these with your Microsoft App Id and your Microsoft App Password-->
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
  <add key="client_id" value="d555f38ea2611641d080"/>
  <add key="client_secret" value="9df20fd18016d5dd5a03a45f490cefbc99e48dae"/>
  <add key="slackapp_client_id" value="367052325251.381829361556"/>
  <add key="slackapp_client_secret" value="e0cd413ca0718857218918c7a7dacca9"/>
</appSettings>
