<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="TableStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=issueapp01;AccountKey=twpPKRJ6J4EBmvxNJ5JIKpPLUJ5WFoxfilwhk0OfGKqI+KslZ+9JKy4456blzEzMPVgzC2invSoOL4DqX66gwA==;EndpointSuffix=core.windows.net" />
</connectionStrings>