<appSettings>
  <!--update these with your Microsoft App Id and your Microsoft App Password-->
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
  <add key="botToken" value="xoxb-367052325251-383109565271-wDyJ2t8JQDZmFydAqhs9PzEc" />
  <add key="slackapp_client_id" value="218239066051.374822381859"/>
  <add key="slackapp_client_secret" value="acf7bcd772ac795d342274d1e3e99e7d"/>
</appSettings>